target
bin
.settings


*.project
*.jar
*.class
*.classpath
*.log

test-output
*.DS_Store

*.avsc
.idea
*.iml

temp

__ConfigTemp
!/mobile-push-notification-soa-service/src/test/java/com/ctrip/basebiz/mobile/pushnotification/handler/HuaweiPushHandlerTest.java
